.Floor2
{
    display: flex;
    flex: 1;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(244, 244, 244);
    justify-content: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 13px;
    white-space: -10px;
}
.mask101
{
    width: 380px;
    
    cursor: pointer;
    transition: transform 0.8s;
}
.mask101:hover
{
  transform: scale(1.03);
}
.mask102
{
    width: 320px;
  
    cursor: pointer;
    transition: transform 0.8s;
}
.mask102:hover
{
  transform: scale(1.03);
}
.mask103
{
    width: 320px;
   
    cursor: pointer;
    transition: transform 0.8s;
}
.mask103:hover
{
  transform: scale(1.03);
}
.mask104
{
    width: 320px;
    
    cursor: pointer;
    transition: transform 0.8s;
}
.mask104:hover
{
  transform: scale(1.03);
}