.MiddleLower
{
    width: 1500px;
    height: 150px;
    background-color: rgb(244, 244, 244);
    box-shadow: inset;
}
.para1
{
  position: absolute;
  left: 160px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top:12px;
}
.para1:hover
{
    text-decoration: underline;
}
.para2
{
  position: absolute;
  left: 300px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para2:hover
{
    text-decoration: underline;
}
.para3
{
  position: absolute;
  left: 446px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para3:hover
{
    text-decoration: underline;
}
.para4
{
  position: absolute;
  left: 578px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para4:hover
{
    text-decoration: underline;
}
.para5
{
  position: absolute;
  left: 748px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para5:hover
{
    text-decoration: underline;
}
.para6
{
  position: absolute;
  left: 890px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para6:hover
{
    text-decoration: underline;
}
.para7
{
  position: absolute;
  left: 1011px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para7:hover
{
    text-decoration: underline;
}
.para8
{
  position: absolute;
  left: 1168px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para8:hover
{
    text-decoration: underline;
}
.para9
{
  position: absolute;
  left: 1310px;
  cursor: pointer;
  font-weight: 500;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
}
.para9:hover
{
    text-decoration: underline;
}
.context
{
  position: absolute;
  left: 110px;
  margin-top: 110px;
  font-family:SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight:600;
  color: black;
  letter-spacing:0.196px;
  line-height :32px;
  text-size-adjust :100%;
}
.context2
{
  color: rgb(110, 110, 115);
}

